.card_container{
    width: 100%;
    height: auto;
    background: linear-gradient(180deg, #1C1A24 0%, #1C1A24 15.63%, #1C1A24 39.58%, #1C1A24 63.02%, #1C1A24 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    /* justify-content: center; */
}
.card_text_wrapper{
    flex: .5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.card_top{
    width: 128px;
    height: 16px;
    color: var(--purple, #704EF4);
    text-align: center;

/* Heading/Overline */
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 16px; /* 133.333% */
letter-spacing: 0.72px;
text-transform: uppercase;
}   
.card_header{
    color: #C3B7F4;
text-align: center;
font-family: Segoe UI;
font-size: 42px;
font-style: normal;
font-weight: 600;
line-height: 117.5%; /* 49.35px */ 
}
.card_text{
    color:  #C3B7F4;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 150% */
}
.main_card{
    flex: 1;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 3rem;
}
.card_card{
    width: 346px;
    height: 454px;
    border-radius: 24px;
    border: 1px solid rgba(195, 183, 244, 0.20);
    background: linear-gradient(0deg, #23212B 0%, #23212B 100%), #1C1A24;
    padding:16px;
}
.card_img_text{
color:  #757575;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px;
}
.bold{
color:  #FFF;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px;
margin-left: 10px;
}
.card_img_wrapper{
    width: 298px;
    height: 298px;
    
    align-items: center;
    border-radius: 16px;
    border: 1px solid rgba(195, 183, 244, 0.10);
    background: linear-gradient(212deg, rgba(50, 25, 75, 0.20) -8.62%, 
    rgba(253, 253, 253, 0.00) 80.66%), 
    lightgray 0% 0% / 100px 100px repeat, #3A3746;
}
.card_text_header{
    align-self: stretch;
    color: #FFF;
font-family: Segoe UI;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 32px; /* 160% */
letter-spacing: -0.2px;
}
.card_img_tex{
    color:#757575;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
}
.card_link{
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: center;
    gap: 10px;
}
.card_link a{
    text-decoration: none;
    color:  #704EF4;
    font-family: Segoe UI;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}
.card_svg{
    cursor: pointer;
}

@media screen and (max-width: 780px) {
    .card_container{
        gap: 2rem; /* justify-content: center; */
    }
    .card_text_wrapper{
        gap: .5rem;
    }
    .card_header{
    font-size: 32px;
    line-height: 100.5%; /* 49.35px */ 
    }
    .card_text{
    font-size: 15px;
    line-height: 20px; 
    text-align: center;
    }
    .main_card{
      align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        gap: 2rem;
    }
    .card_card{
        width: 90%;
        height: 90%;
    }
}